fastapi
uvicorn[standard]
sqlmodel
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
openlocationcode
geopy
reverse-geocoder
qrcode
scikit-learn
numpy
scipy
shapely
python-multipart
certifi
pillow
fastapi-cache2
redis