fastapi
uvicorn[standard]
sqlmodel>=0.0.14
pydantic>=2.7.0
pydantic-settings>=2.7.0
python-jose[cryptography]
passlib[bcrypt]
email-validator
openlocationcode
geopy
reverse-geocoder
qrcode
scikit-learn
numpy
scipy
shapely
python-multipart
certifi
pillow
fastapi-cache2