fastapi
uvicorn[standard]
sqlmodel
pydantic==1.10.22
python-jose[cryptography]
passlib[bcrypt]
email-validator
openlocationcode
geopy
reverse-geocoder
qrcode
scikit-learn
numpy
scipy
shapely
python-multipart
certifi
pillow
